/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html 
{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body 
{
    background-color: #1571e9;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.panel 
{
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 15px 25px;
    margin: 50px 0px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.divisi-table
{
    border-bottom: 1px solid white;
}

.divisi-img
{
    margin-bottom: 25px;
    max-width: 100%;
}

.divisi-img.second
{
    border-top: 1px solid #c7c7c7;
}

.divisi-header
{
    color: grey;
    font-weight: 600;
    letter-spacing: 1px;
}

.divisi-features
{
    margin: 50px 0 25px;
    color: #1571e9;
}

.divisi-features-item
{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-bottom: 1px solid #c7c7c7;
}


.divisi-features-item:last-child
{
    border-bottom: 1px solid rgb(199, 199, 199);
}

.divisi-label
{
    color: #1571e9;
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.divisi-button
{
    border: 2px solid rgb(148, 192, 243);
    border-radius: 10px;
    color: #1571e9;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
}

.divisi-button:hover, .divisi-button:focus
{
    background-color: #e1f1ff;

}

.divisi-button.is-featured
{
    background-color: #2179dd;
    color: white;
}

.divisi-button.is-featured:hover, .divisi-button.is-featured:focus
{
    background-color: #fefefe;
    color: #1571e9;
}

@media (min-width: 900px)
{
    .panel {
        flex-direction: row;
    }
    .divisi-features-item
    {
        border-bottom: none;
        border-right: 1px solid #c7c7c7;
        padding: 25px 50px;
    }
    .divisi-img.second
    {
        border-top: none;
        border-left: 1px solid #c7c7c7;
    }
    .divisi-features-item:last-child
    {
        border-bottom: none;
    }
}